In [1]:
import pandas as pd
import seaborn as sns

In [2]:
data = sns.load_dataset('penguins')

In [3]:
data.shape

(344, 7)

In [4]:
data.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            344 non-null    object
 1   island             344 non-null    object
 2   bill_length_mm     342 non-null    float64
 3   bill_depth_mm      342 non-null    float64
 4   flipper_length_mm  342 non-null    float64
 5   body_mass_g        342 non-null    float64
 6   sex                333 non-null    object
dtypes: float64(4), object(3)
memory usage: 18.9+ KB

In [6]:
data.describe()

       bill_length_mm  bill_depth_mm  flipper_length_mm  body_mass_g
count      342.000000     342.000000         342.000000   342.000000
mean        43.921930      17.151170         200.915205  4201.754386
std          5.459584       1.974793          14.061714   801.954536
min         32.100000      13.100000         172.000000  2700.000000
25%         39.225000      15.600000         190.000000  3550.000000
50%         44.450000      17.300000         197.000000  4050.000000
75%         48.500000      18.700000         213.000000  4750.000000
max         59.600000      21.500000         231.000000  6300.000000

In [7]:
import seaborn as sns

data = sns.load_dataset('taxis')

In [8]:
data.info

<bound method DataFrame.info of                    pickup              dropoff  passengers  distance  fare  \
0     2019-03-23 20:21:09  2019-03-23 20:27:24           1      1.60   7.0
1     2019-03-04 16:11:55  2019-03-04 16:19:00           1      0.79   5.0
2     2019-03-27 17:53:01  2019-03-27 18:00:25           1      1.37   7.5
3     2019-03-10 01:23:59  2019-03-10 01:49:51           1      7.70  27.0
4     2019-03-30 13:27:42  2019-03-30 13:37:14           3      2.16   9.0
...                   ...                  ...         ...       ...   ...
6428  2019-03-31 09:51:53  2019-03-31 09:55:27           1      0.75   4.5
6429  2019-03-31 17:38:00  2019-03-31 18:34:23           1     18.74  58.0
6430  2019-03-23 22:55:18  2019-03-23 23:14:25           1      4.14  16.0
6431  2019-03-04 10:09:25  2019-03-04 10:14:29           1      1.12   6.0
6432  2019-03-13 19:31:22  2019-03-13 19:48:02           1      3.85  15.0

       tip  tolls  total   color      payment            pickup_zone  \
0     2.15    0.0  12.95  yellow  credit card        Lenox Hill West
1     0.00    0.0   9.30  yellow         cash  Upper West Side South
2     2.36    0.0  14.16  yellow  credit card          Alphabet City
3     6.15    0.0  36.95  yellow  credit card              Hudson Sq
4     1.10    0.0  13.40  yellow  credit card           Midtown East
...    ...    ...    ...     ...          ...                    ...
6428  1.06    0.0   6.36   green  credit card      East Harlem North
6429  0.00    0.0  58.80   green  credit card                Jamaica
6430  0.00    0.0  17.30   green         cash    Crown Heights North
6431  0.00    0.0   6.80   green  credit card          East New York
6432  3.36    0.0  20.16   green  credit card            Boerum Hill

                          dropoff_zone pickup_borough dropoff_borough
0                  UN/Turtle Bay South      Manhattan       Manhattan
1                Upper West Side South      Manhattan       Manhattan
2                         West Village      Manhattan       Manhattan
3                       Yorkville West      Manhattan       Manhattan
4                       Yorkville West      Manhattan       Manhattan
...                                ...            ...             ...
6428              Central Harlem North      Manhattan       Manhattan
6429  East Concourse/Concourse Village         Queens           Bronx
6430                    Bushwick North       Brooklyn        Brooklyn
6431      East Flatbush/Remsen Village       Brooklyn        Brooklyn
6432                   Windsor Terrace       Brooklyn        Brooklyn

[6433 rows x 14 columns]>

In [9]:
data.isna().sum()

pickup              0
dropoff             0
passengers          0
distance            0
fare                0
tip                 0
tolls               0
total               0
color               0
payment            44
pickup_zone        26
dropoff_zone       45
pickup_borough     26
dropoff_borough    45
dtype: int64

In [10]:
data.isna().mean()

pickup             0.000000
dropoff            0.000000
passengers         0.000000
distance           0.000000
fare               0.000000
tip                0.000000
tolls              0.000000
total              0.000000
color              0.000000
payment            0.006840
pickup_zone        0.004042
dropoff_zone       0.006995
pickup_borough     0.004042
dropoff_borough    0.006995
dtype: float64

In [12]:
data[data['pickup_zone'].isna()]

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
42,2019-03-30 23:59:14,2019-03-30 23:59:17,1,0.00,80.0,20.08,0.00,100.38,yellow,credit card,NaN,NaN,NaN,NaN
606,2019-03-19 15:04:40,2019-03-19 15:06:15,1,0.40,3.5,1.35,0.00,8.15,yellow,credit card,NaN,Upper East Side South,NaN,Manhattan
622,2019-03-12 19:52:36,2019-03-12 19:52:55,3,0.00,120.0,33.20,12.50,166.00,yellow,credit card,NaN,NaN,NaN,NaN
671,2019-03-09 22:45:46,2019-03-09 22:46:50,1,0.40,3.5,0.00,0.00,7.30,yellow,cash,NaN,Lincoln Square East,NaN,Manhattan
712,2019-03-03 01:24:45,2019-03-03 01:29:32,1,0.80,5.0,1.75,0.00,10.55,yellow,credit card,NaN,West Chelsea/Hudson Yards,NaN,Manhattan
970,2019-03-29 00:02:00,2019-03-29 00:02:05,2,0.00,45.0,5.00,0.00,50.30,yellow,credit card,NaN,NaN,NaN,NaN
1108,2019-03-10 09:33:13,2019-03-10 09:52:04,1,13.40,52.0,11.70,5.76,70.26,yellow,credit card,NaN,NaN,NaN,NaN
1961,2019-03-19 16:43:59,2019-03-19 17:37:22,1,17.82,52.0,13.11,5.76,78.67,yellow,credit card,NaN,Garment District,NaN,Manhattan
2137,2019-03-08 13:27:32,2019-03-08 13:46:23,1,1.40,12.0,3.05,0.00,18.35,yellow,credit card,NaN,NaN,NaN,NaN
2742,2019-03-23 06:20:27,2019-03-23 06:20:59,1,0.00,55.0,0.00,0.00,55.80,yellow,credit card,NaN,NaN,NaN,NaN
3085,2019-03-24 15:43:02,2019-03-24 16:02:57,1,3.20,14.5,0.00,0.00,15.30,yellow,cash,NaN,NaN,NaN,NaN
3259,2019-03-30 00:39:09,2019-03-30 00:43:34,1,0.84,5.0,1.70,0.00,10.50,yellow,credit card,NaN,NaN,NaN,NaN
3644,2019-03-19 23:30:50,2019-03-19 23:32:33,2,0.00,103.0,20.65,0.00,123.95,yellow,credit card,NaN,NaN,NaN,NaN
3793,2019-03-24 06:07:30,2019-03-24 06:12:22,1,1.50,6.5,0.00,0.00,9.80,yellow,NaN,NaN,Midtown East,NaN,Manhattan
3889,2019-03-30 06:42:55,2019-03-30 06:43:00,1,0.00,2.5,0.00,0.00,3.30,yellow,cash,NaN,NaN,NaN,NaN
4118,2019-03-15 14:01:54,2019-03-15 14:01:59,1,0.00,25.0,5.06,0.00,30.36,yellow,credit card,NaN,NaN,NaN,NaN
4127,2019-03-01 05:18:21,2019-03-01 05:18:30,2,0.04,2.5,0.00,0.00,3.80,yellow,cash,NaN,NaN,NaN,NaN
4281,2019-03-18 23:29:49,2019-03-18 23:38:00,1,2.10,9.0,2.06,0.00,12.36,yellow,credit card,NaN,NaN,NaN,NaN
4414,2019-03-29 20:42:47,2019-03-29 21:03:50,1,4.20,17.0,4.80,5.76,28.86,yellow,credit card,NaN,NaN,NaN,NaN
4772,2019-03-21 19:51:13,2019-03-21 19:57:03,1,0.72,5.5,1.46,0.00,8.76,yellow,credit card,NaN,NaN,NaN,NaN
4941,2019-03-01 08:12:28,2019-03-01 08:17:19,1,0.83,5.0,2.50,0.00,10.80,yellow,credit card,NaN,NaN,NaN,NaN
5263,2019-03-09 20:37:53,2019-03-09 21:07:20,1,4.99,22.0,5.16,0.00,30.96,yellow,credit card,NaN,NaN,NaN,NaN
5493,2019-03-06 12:14:00,2019-03-06 12:14:00,1,0.00,10.0,0.00,0.00,10.00,green,credit card,NaN,NaN,NaN,NaN
5624,2019-03-11 14:04:50,2019-03-11 14:04:50,1,0.00,2.5,0.00,0.00,3.30,green,cash,NaN,NaN,NaN,NaN
5638,2019-03-13 12:22:00,2019-03-13 12:22:00,1,0.00,10.0,0.00,0.00,10.00,green,credit card,NaN,NaN,NaN,NaN
6083,2019-03-19 15:34:00,2019-03-19 15:34:00,1,0.00,5.0,0.00,0.00,5.00,green,credit card,NaN,NaN,NaN,NaN